body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Merriweather', serif;
}
header{
    background: #FFF;
    width: 1320px;
    height: 600px;
    

}
.container{
    background-image: url(../assist/Banner\ Image.png);
    background-repeat: no-repeat;
  
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}
.banner-text{
    width: 300px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0px 530px;
}
.banner-content{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    padding: 0px 344px 177px 344px;
}